<table class="table table-hover table-bordered table-stiped table-sm table-striped table-condensed"
       data-datasheet-id="{{ datasheet.uniqueId }}">
    <thead>
    <tr>
        {% if datasheet.enableFiltering %}
            <th>&nbsp;</th>
        {% endif %}
        {% for field in datasheet.fields %}
            <th>{{ field.title|trans }}</th>
        {% endfor %}
    </tr>
    {% if datasheet.enableFiltering %}
        <form action="?" method="GET">
            <tr>
                <th><input type="submit" class="btn btn-primary btn-xs btn-block" value="Filter"></th>
                {% for fieldName, field in datasheet.fields %}
                    <th style="position:relative;"><input type="text" class="form-control-sm" style="width:100%" data-datasheet-filter="{{ fieldName }}"></th>
                {% endfor %}
            </tr>
        </form>
    {% endif %}
    </thead>
    <tbody>
    {% for item in datasheet.items %}
        <tr>
            {% if datasheet.enableFiltering %}
                <td>&nbsp;</td>
            {% endif %}
            {% for fieldName, field in datasheet.fields %}
                <td>
                    {{ item[fieldName]|raw }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if datasheet.enableFiltering %}
    <script>

        {% for fieldName, options in datasheet.filterOptions %}

        let datasheet{{ datasheet.uniqueId }}{{ fieldName }}FilterOptions = {{ options|json_encode|raw }};

        {% endfor %}

    </script>
{% endif %}