<form action="{{ filterFormUrl }}" method="GET">

    <table class="table table-hover table-bordered table-stiped table-sm table-striped table-condensed"
           data-datasheet-id="{{ datasheet.uniqueId }}">
        <thead>
        <tr>
            {% if datasheet.hasFilters %}
                <th>&nbsp;</th>
            {% endif %}
            {% for field in datasheet.fields %}
                <th>{{ ((datasheet.translationPrefix ? datasheet.translationPrefix ~ '.' : '')  ~ field.title)|trans }}</th>
            {% endfor %}
        </tr>
        {% if datasheet.hasFilters %}
            <tr>
                <th><input type="submit" class="btn btn-primary btn-xs btn-block" value="Filter"></th>
                {% for fieldName, field in datasheet.fields %}
                    {% if field.hasFilter %}
                        <th style="position:relative;" data-datasheet-filter-container="{{ fieldName }}">
                            {% if fieldName == 'id' %}
                                <input type="text" class="form-control-sm" size="3">
                            {% else %}
                                {% set value = datasheet.filters[fieldName] ?? '' %}
                                <input type="text" autocomplete="off"
                                       style="width:100%;"
                                       name="filter[{{ fieldName }}]"
                                       value="{{ datasheet.filters[fieldName] ?? '' }}"
                                       data-datasheet-filter="{{ fieldName }}">
                                {% if value %}
                                    <div data-datasheet-filter-clear="{{ fieldName }}">&times;</div>
                                {% endif %}
                            {% endif %}
                        </th>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endif %}
        </thead>
        <tbody>
        {% for item in datasheet.items %}
            <tr>
                {% if datasheet.hasFilters %}
                    <td>&nbsp;</td>
                {% endif %}
                {% for fieldName, field in datasheet.fields %}
                    <td>
                        {{ item[fieldName]|raw }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        {% if datasheet.summaryRow %}
            <tfoot>
            <tr>
                {% if datasheet.hasFilters %}
                    <td>&nbsp;</td>
                {% endif %}
                {% for fieldName, field in datasheet.fields %}
                    <th class="text-right">
                        {{ (datasheet.summaryRow[fieldName] ?? '')|raw }}
                    </th>
                {% endfor %}
            </tr>
            </tfoot>
        {% endif %}
    </table>
</form>

{% if datasheet.hasFilters %}
{#    <script>#}
{#         options set for datasheet filtering #}
{#        {% for fieldName, options in datasheet.filterOptions %}#}
{#        let datasheet{{ datasheet.uniqueId }}{{ fieldName }}FilterOptions = {{ options|json_encode|raw }};#}
{#        {% endfor %}#}
{#//     </script>#}
{% endif %}

<style>
    [data-datasheet-id] td {
        max-width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>