{% extends '@A2CRM/layout.html.twig' %}

{% block content %}
    <a href="{{ path('a2crm_entity_edit') }}"
       class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add new entity</a><br><br>
    <div class="row">
        {% for entity in entities %}
            <div class="col-sm-2">
                <table class="table table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>
                            {{ entity.name }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="btn-group btn-group-xs">
                                <a href="#"
                                   class="btn btn-default"><i class="glyphicon glyphicon-remove"></i> remove</a>
                                <a href="{{ path('a2crm_entity_edit', {'entity': entity.id}) }}"
                                   class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i> edit</a>
                                <a href="{{ path('a2crm_entity_field_edit', {'entity': entity.id}) }}"
                                   class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> add field</a>
                            </div>
                        </td>
                    </tr>
                    {% for field in entity.fields %}
                        <tr>
                            <td>
                                {{ field.name }}
{#                                <a href="{{ path('a2crm_entity_field_list', {'entity': entity.id}) }}">{{ entity.name }}</a>#}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}