{% extends '@A2CRM/layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm-7">
            {{ form_row(form.name) }}
            {{ form_row(form.type) }}

            <div id="field-configuration" hidden></div>

            {{ form_row(form.submit) }}
            </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
{{ parent() }}
<script>
    $(function(){
        $('#entity_field_type_form_type').on('change', function(){
            let url = '/admin/entity/{{ entity.name|toSnakeCase }}/field/edit-configuration/' + $(this).val() + '{% if entityField.id is defined %}/{{ entityField.id }}{% endif %}';
            console.log(url);

            $.get(url, function(result){
                if(result.hasConfiguration){
                    $('#field-configuration').html(result.html);

                    setTimeout(function(){
                        $('#field-configuration').slideDown(500);
                    }, 300);

                }else{
                    $('#field-configuration').slideUp(400, function(){
                        $(this).html('');
                    });
                }
            });

        }).change();
    })
</script>
{% endblock %}