{% extends '@A2CRM/layout.html.twig' %}

{% block content %}
    <a href="{{ path('crm_entity_edit') }}"
       class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add new entity</a><br><br>
    <div class="row">
        {% for entity in entities %}
            <div class="col-sm-3">
                <table class="table table-striped table-responsive table-bordered">
                    <thead>
                    <tr>
                        <th>
                            <div class="btn-group btn-group-xs">
                                <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></a>
{#                                <a href="{{ path('crm_entity_update_proxy', {'entityName': entity.name|toSnakeCase}) }}"#}
{#                                   class="btn btn-default"><i class="glyphicon glyphicon-refresh"></i></a>#}
                                <a href="{{ path('crm_entity_edit', {'entityName': entity.name|toSnakeCase}) }}"
                                   class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a>

                                {% set entityNameSnakeCase = entity.name|toSnakeCase %}
                                <a href="{{ path('crm_object_list', {'objectName': entity.name|toSnakeCase}) }}"
                                   class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i></a>
                            </div>
                        </th>
                        <th>
                            {{ entity.name }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for field in entity.fields %}
                        <tr>
                            <td>
                                <div class="btn-group btn-group-xs">
                                    <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                                    <a href="{{ path('crm_entity_field_edit', {'entityName': entity.name|toSnakeCase, 'entityFieldName': field.name|toSnakeCase}) }}"
                                       class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
                                </div>
                            </td>
                            <td>
                                {{ field.name }} <small class=" text-muted">({{ field.type }})</small>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <a href="{{ path('crm_entity_field_edit', {'entityName': entity.name|toSnakeCase}) }}" class="btn btn-default btn-xs btn-block">
                                <i class="glyphicon glyphicon-plus"></i> add new field
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}