{% extends '@A2CRM/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-3">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>
                            {{ entity.name }}
                            <a href="{{ path('a2crm_entity_edit', {'entity':entity.id}) }}" class="btn btn-default">Rename entity</a>
                            <a href="{{ path('a2crm_entity_field_edit', {'entity':entity.id}) }}" class="btn btn-default">Add field</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for field in fields %}
                        <tr>
                            <td>
                                <a href="{{ path('a2crm_entity_field_edit', {'entity':entity.id, 'entityField': field.id}) }}">{{ field.name }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}